@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 4px;
    background-color: rgb(89, 171, 56);

}


.contenitore
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.bottonee{
    
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 5px;
    background-color: aqua;
    color: deeppink;
    box-shadow: inset 0 0 0 0 aqua;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.bottonee:hover{
    background-color: deeppink;
    color: aqua ;
    cursor:pointer;
    transform: scale(1.1);
    transition: all 0.5s;
}



.card{
    background-color: yellow;
    border-color: black;
    border-radius: 5px;
}





.card{
    display: none;
}



h5{
    background-color: aqua;
    color: black;
    text-transform: uppercase;
}

#logo{
    width: 100px;
}

#RICARICA{
    display: none;
}
























/*

html{
    height: 100%;
    margin:0;
  
}



body{
    background-color: rgb(244, 255, 122);
    text-align: center;
    height: 100%;
    margin:0;
}

.contenitore{
    height: 100%;
    background-color: rgb(38 40 14);
}


.bottonee{
    
    border-radius: 100px;
    background-color: aquamarine;
    color: deeppink;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2%;
    box-shadow: 0 0 20px 10px ;
}


.bottonee:hover{
    background-color: deeppink;
    color: aqua;
    padding: 2%;
    transform: translate(-50%,-50%);
    transform:scale(1.5) ;
    transition: all 0.5s;
   
}

*/